[Unit]
Description=The PowerVR SGX530 3D engine

[Service]
Type=oneshot
RemainAfterExit=1
ExecStart=/usr/bin/devmem2 0x44E0007C w 0x2
ExecStart=/sbin/modprobe pvrsrvkm
ExecStart=/usr/bin/pvrsrvctl --start --no-module
ExecStart=/sbin/modprobe omaplfb
ExecStop=/sbin/modprobe -r omaplfb
ExecStop=/sbin/rmmod omaplfb

[Install]
WantedBy=basic.target

