[Unit]
Description=The PowerVR SGX530 3D engine

[Service]
ExecStart=/bin/sh /etc/init.d/rc.pvr start
ExecStop=/bin/sh /etc/init.d/rc.pvr stop

[Install]
WantedBy=basic.target
