[Unit]
Description=The responsive web interface for your 3D printer
After=ntpd.service

[Service]
Type=simple
ExecStart=/usr/bin/octoprint.run --iknowwhatimdoing --config /etc/octoprint/config.yaml

[Install]
WantedBy=basic.target
